* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.quadrati-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.quadrato {
  background-color: grey;
  border: 1px solid black;
  width: 70px;
  height: 70px;
  display: flex;
}
.quadrato.active {
  background-color: green;
}
.red.active {
  background-color: red;
}
